@buttonBgColor: #823bf3;
@buttonFontColor: white;
@bodyBgColor: #ebebeb;
* {
  margin: 0;
  padding: 0;
}
html,
body {
  background-color: @bodyBgColor;
  height: 100%;
}
.wrapper {
  position: relative;
  min-height: 100%;
}
.content {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 90px;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: @buttonBgColor;
}

#app {
  width: inherit;
  margin: 0 auto;
}

#canvas {
  border: 3px solid @buttonBgColor;
}

#inputButton {
  background-color: @buttonBgColor;
  color: @buttonFontColor;
}

input {
  display: inline-block;
  margin-top: 5px;
  width: 180px;
  height: 30px;
  font-size: 25px;

}

button {
  display: inline-block;
  width: 150px;
  height: 80px;
  font-size: 1.5em;
  border: none;
  background-color: @buttonBgColor;
  color: @buttonFontColor;
}

.canvasDiv {
  width: 500px;
  margin: 10px 20%;
}

form {
  width: 800px;
  margin: 0 auto;
}

#buttons {
  width: 700px;
  margin: 0 auto;
}
