* {
  margin: 0;
  padding: 0;
}
html,
body {
  background-color: #ebebeb;
  height: 100%;
}
.wrapper {
  position: relative;
  min-height: 100%;
}
.content {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 90px;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #823bf3;
}
#app {
  width: inherit;
  margin: 0 auto;
}
#canvas {
  border: 3px solid #823bf3;
}
#inputButton {
  background-color: #823bf3;
  color: white;
}
input {
  display: inline-block;
  margin-top: 5px;
  width: 180px;
  height: 30px;
  font-size: 25px;
}
button {
  display: inline-block;
  width: 150px;
  height: 80px;
  font-size: 1.5em;
  border: none;
  background-color: #823bf3;
  color: white;
}
.canvasDiv {
  width: 500px;
  margin: 10px 20%;
}
form {
  width: 800px;
  margin: 0 auto;
}
#buttons {
  width: 700px;
  margin: 0 auto;
}
